<div class="main">
  <!--
  <nav class='animated bounceInDown'>
  -->
  <nav class="ml-0 mr-0">
    <ul>
      <li class="nav-item d-flex"
          [routerLinkActive]='["link-active"]'>
        <i class="fa fa-home i-position" style="font-size: 1em"></i><a class="nav-link text-dark" [routerLink]='[""]' href="" id="login">Home</a>
      </li>
    <li class="nav-item d-flex" [routerLinkActive]='["link-active"]' *ngIf="!userData.isLoggedIn">
      <i class="fa fa-user i-position" style="font-size: 1em"></i><a class="nav-link text-dark"  [routerLink]='["/login"]' href="/login" id="login">Log in</a>
    </li>

      <!--
  <li class="nav-item " [routerLinkActive]='["link-active"]'>
    <a class="nav-link text-dark btn-link"  *ngIf="userData.isLoggedIn && userData.role==userRole.User" data-toggle="collapse" [routerLink]='["/user-home"]' data-target="#menu2">
      My Account<i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <div  id="menu2" class="collapse">
    <ul [routerLinkActive]='["link-active"]'>
      <li><a href="search-dashboard/list" [routerLink]='["/search-dashboard/list"]'  *ngIf="userData.isLoggedIn && userData.role==userRole.User">Find Timesheet</a></li>
    </ul>
    </div>
  </li>
    -->
<li class="nav-item d-flex " [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn && userData.role==userRole.User">
        <i class="fa fa-table i-position" style="font-size: 1em"></i><a class="nav-link text-dark btn-link" *ngIf="userData.isLoggedIn && userData.role==userRole.User" [routerLink]='["/search-dashboard/list"]' id="timesheet1">
          Get Timesheets
        </a>
      </li>
<li class="nav-item d-flex"  *ngIf="userData.isLoggedIn && userData.role==userRole.Admin">
  <i class="fa fa-cog i-position" style="font-size: 1em"></i><a class="nav-link text-dark btn-link" *ngIf="userData.isLoggedIn && userData.role==userRole.Admin" [routerLink]='["/add"]' id="create">
    Create project
  </a>
</li>
      <li class="nav-item d-flex " [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn && userData.role==userRole.Admin">
        <i class="fa fa-table i-position" style="font-size: 1em"></i><a class="nav-link text-dark btn-link" [routerLink]='["/search-dashboard/list"]' id="timesheet2">
          Get Timesheets
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn">
        <i class="fa fa-sign-out i-position" aria-hidden="true"></i><a class="nav-link text-dark btn-link" [routerLink]='["/"]' (click)="logout()" id="logout" style="margin-right: 1em">Log out</a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!userData.isLoggedIn">
        <i class="fa fa-hand-o-up" id="hand"></i>
      </li>
    </ul>
  </nav>
</div>

