<div class="main" [routerLinkActive]='["link-active"]'>
  <div class="text-center pt-4 pb-4 sectionTopic"><h5>DON'T MISS OUR TOP THREE ADVANTAGES</h5></div>
  <div class="moreoroducts d-flex flex-grow text-center">
    <div id="top1"><div id="parent1" (mouseover)="showIcon($event)" (mouseout)="hideIcon($event)"><label id="label1">CROSS COMPANIES</label><div id="icon1" class="titleIcon">1</div></div><div >On our plateform you can registrate your working time for your projects in different companies. </div></div>
    <div><div id="parent2" (mouseover)="showIcon($event)" (mouseout)="hideIcon($event)"><label id="label2">DETAILED STATISTICS</label><div id="icon2" class="titleIcon">2</div></div><div>We provide many analysical factors for timesheet analysis, so that you can see your timesheets precisely from many aspects</div></div>
    <div><div id="parent3" (mouseover)="showIcon($event)" (mouseout)="hideIcon($event)"><label id="label3">FLEXIBLE REPORTING</label><div id="icon3" class="titleIcon">3</div></div><div><div>You control completely what a report will contain by choosing freely the sorting parameters you want.</div>
  </div>

</div>
