<footer class="d-flex flex-row pt-5 pb-5 pt-2 pb-2 w-100">
  <ul class="ml-0 mr-0" id="back">
    <!--<li class="footerTitle text-center">
  </li>-->
    <li class="footerTitle mt-3 text-center" style="position: relative; top: -1em">
      <i class="fa fa-angle-double-up text-center" style="font-size: 36px; margin-bottom: 0.9em" (click)="back()"></i><br>
      <button class="btn-link" style='background: transparent; position: relative; width: 200%; left: -49%' (click)="back()">BACK TO TOP</button>
    </li>
  </ul>
  <ul class="mr-2">
    <li class="footerTitle"><span>S</span>OCIAL MEDIA</li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Linkedin</a></li>
  </ul>
  <ul class="mr-2">
    <li class="font-weight-bold"><span>E</span>NTERPRISE</li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
  </ul>
  <ul class="mr-2">
    <li class="font-weight-bold"><span>S</span>UPPORT</li>
    <li><a href="#">Pre-sale Service</a></li>
    <li><a href="#">After-sale Service</a></li>
    <li><a href="#">Ofen Asked Questions</a></li>
  </ul>
  <ul class="mr-0">
    <li class="font-weight-bold"><span>R</span>ESOURCES</li>
    <li><a href="#">Expert Suggestions</a></li>
    <li><a href="#">Training & Education</a></li>
    <li><a href="#">Press & Information</a></li>
  </ul>
</footer>
