<div class="main">
  <div>
    <div class="sectionTopic">
      <h5>BECOME OUR PARTNER</h5>
      <span>Our successful products have won us many customers and helped many companies to establish themselves in the market.</span>
    </div>
    <div class="pb-4 font-weight-bold text-center">
      SOME OF OUR CUSTOMERS
    </div>
    <div class="d-flex flex-grow mt-0">
      <div id="div1"></div><div id="div2"></div><div id="div3"></div><div id="div4"></div>
      <div id="div5"></div><div id="div6"></div>
    </div>
    <!-- <div class="d-flex flex-grow">
     <div><img src="assets/images/16locks.jpeg"></div><div><img src="assets/images/16locks.jpeg"></div><div><img src="assets/images/16locks.jpeg"></div>
     <div><img src="assets/images/16locks.jpeg"></div><div><img src="assets/images/16locks.jpeg"></div><div><img src="assets/images/16locks.jpeg"></div>
   </div>-->
  </div>
</div>
