<div class="main" [routerLinkActive]='["link-active"]'>
  <div class="text-center pt-4 pb-4 sectionTopic"><h5>WHAT MORE CAN WE DO FOR YOU?</h5></div>
  <div class="moreoroducts d-flex flex-grow text-center">
    <div><div><label>RESELLER MEMBERSHIPS</label></div><div><a href='#'>Make your own business using our Reseller Store. </a></div></div>
    <div><div><label>SITEBUILDING</label></div><div><a href='#'>Create your own amazing website with the assistant of our professional team.</a></div></div>
    <div><div><label>SOFTWARE DEVELOPMENT</label></div><div></div><a href='#'>We have 30 years' experience in tailor made software development.</a></div>
  </div>

</div>
