.w-100 {
  display: grid;
  grid-template-rows: auto auto;
  padding: 1em;
  padding-top: 0;
  background: #ebebeb;
}

.sectionTopic {
  background: #f2f2f2;
  padding-bottom: 4em;
}

h5 {
  font-weight: 600;
  margin-top: 5em;
  margin-left: 35%;
  margin-right: 35%;
}

.sectionContent {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  padding-bottom: 0;
}

  .sectionContent > div {
    margin: 0;
    display: grid;
    grid-template-rows: auto auto;
    padding: 6em 2em 7em 2em;
    /*padding-left: 2em;
  padding-right: 2em;*/
  }

    .sectionContent > div div:nth-child(2) {
      margin-top: 1em;
    }

.saleTitle {
  font-size: 1em;
  margin-bottom: 1em;
}

.sectionContent div {
  margin-top: 0.5em;
  background-color: #f2f2f2;
}

a:hover {
  text-decoration: underline;
}


