<body>
  <div class="container">
    <app-nav-menu></app-nav-menu>
    <app-function-header1></app-function-header1>
    <app-function-header2></app-function-header2>
    <div class="d-flex flex-row h-auto m-0" style="background-color: #ebebeb;">
      <div class="col-md-3" style="padding: 1em"><app-sidebar></app-sidebar></div><div class="col-md-9 container" style="border-left: 4px solid #ddd; padding: 1em">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-subfooter0></app-subfooter0>
    <app-subfooter1></app-subfooter1>
    <app-subfooter2></app-subfooter2>
    <app-subfooter3></app-subfooter3>
    <app-subfooter4></app-subfooter4>
    <app-foot></app-foot>
  </div>
</body>
