<div class=" table-background ml-0 mr-o" id="tableContainer">
  <div id="timeSheets">
    <div class="floatRight d-flex">
      <div class="icondiv" id="icon1div">
        <button ><i class="fa fa-print" id="print" (mouseover)="printvisible()" (mouseout)="printinvisible()"></i></button>
        <div class="p-0" style="position: relative; right: 0.5em; top: 0%; z-index: 1; visibility: hidden" id="printtooltip"><span id="printtext">Print</span></div>
      </div>
      <div class="icondiv" id="icon2div">
        <button>
          <i class="fa fa-file-pdf-o" aria-hidden="true" id="pdf" (mouseover)="pdfvisible()" (mouseout)="pdfinvisible()"></i></button>
          <div class="p-0" style="position: relative; right: 0.5em; top: 0%; z-index: 1; visibility: hidden" id="pdftooltip"><span id="pdftext">Pdf</span></div>
      </div>
    </div>
    <div class="text-center font-weight-bold title-customer"><label>TIMESHEETS</label></div>
    <div class="tableHeader tableRow w-100"><div>Project</div><div>Comment</div><div>Duration (hrs)</div><div>Date</div><div></div></div>
    <div class="tableRow rowCustom" id="resultContainer">
    </div>
  </div>
  <div id="notice"><span>No timesheet is found!</span></div>
</div>
