<div class="main text-center h-auto">
  <div style="background: #f2f2f2">
    <div style="object-fit: scale-down; max-width: 100%; height: 50%; background-color: #f2f2f2;">
      <img src="../../assets/images/happyworkingday.jpg" alt="Manage time registration" style="height: 35%; width: 100%; ">
    </div>
    <div id="base" class="text-left" style="background-color: transparent; width: 30%; height: auto; font-weight: 600; padding: 2em; word-break: break-word; position: absolute; top: 0.5em"><div style="z-index: 1; position: absolute " id="magnifer"><i class="fa fa-magnifer"></i></div>
      <span id="text" class="font-italic" style="font-size: 1.2em">Easy to use and function rich.
      SSVC Time Registration System contributes to creating a happy working day</span>
    </div>
  </div>
</div>

