<div class="main pb-2">
  <div class="floatRight">
    <button (click)="like()" (mouseover)="visible()" (mouseout)="invisible()"><i class="fa fa-thumbs-o-up" ></i></button>
    <div class="p-0" style="position: relative; right: -2em; top: 120%; z-index: 1;" id="tooltip" ><span id="tooltiptext">Like Site</span></div>
    <!--
  <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    -->
  </div>
  <div class="float-right w-100 text-right" *ngIf="userData.isLoggedIn">
    <span id="welcomeMark">Welcome {{userData.userName}}!</span>
  </div>
</div>
