.main {
  padding: 1em 0 1em 0;
  height: auto;
  margin-bottom: 0em;
}

.background{
    background-color: #f2f2f2;
    margin: 0;
    height: 100%;
}

.base {
  font-size: 0.9em;
  background-color: aliceblue;
  /*padding-top: 6em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;*/
  /*margin-top: 8em;
  margin-bottom: 8em;*/
  padding: 1em;
  margin-left: 16em;
  margin-right: 16em;
  margin-top: 6em;
  height: auto;
}

#labelDiv {
  font-weight: 600;
  text-align: center;
}

span {
  background-color: orange;
  padding: 15px;
}

.tableRow {
  display: grid;
  border: 1px solid #efefef;
  border-bottom: none;
  grid-template-columns: 35% 25% 25% 15%;
}

.tableHeader {
  font-weight: 600;
  background-color: #e6e6e6;
}

.tableRow div, .tableRow div {
  padding: 8px;
}

.tableRow:nth-child(2n+1) {
  background-color: #efefef;
}

.tableRow:nth-child(2n) {
  background-color: #e6e6e6;
}

section {
  background-color: #efefef;
}

.btn {
  width: 5em;
  height: 2.5em;
  vertical-align: central;
  margin-right: 0.25vw;
  background-color: #b300b3;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: 600;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.btn:hover {
  background-color: #ff33ff;
}

.btn:active {
  background-color: #ff66ff;
}

.btn:visited {
  background-color: #ff66ff;
}

.form-group select, option, input[type=date] {
  height: 2em;
}

.font-title-customer{
    font-size: 2em;
}

label {
    font-weight: 600;
}

#explain{
    margin-bottom: 2em;
}
